main{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(201, 190, 190);
}

main>div{
    display: flex;
    align-items: center;
    background-color: rgb(201, 190, 190);
}

main img{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
} 

.formulario{
    background-color: gray;
    display: flex;
    border: 5px solid rgb(201, 190, 190);
    border-radius: 20px;
    padding: 50px;
    gap: 10px;
}

.alma{
    display: flex;
    flex-direction: column;
}

#enviar{
    background-color: rgb(201, 190, 190);
    display: flex;
    margin-bottom: 1%;
    align-items: center;
    gap: 10%;
}

#boton{
    width: 20%;
    padding: 1%;
}

#imagen{
    border-radius: 10px;
}