.article {
    display: flex;
    color: black;
    width: 100%;
    background-color: gray;
    margin-bottom: 50px;
    
}

#article1 {
    height: 1000px;
    background-image: url(../IMG/sesto-elemento.jpg);
    background-color: rgb(100, 100, 100);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
}

#article2 {
    height: 475.55px;
    align-items: normal;
    justify-content: left;
}

#article3 {
    height: 493.55px;
    justify-content: right;
    margin-bottom: 0px;
}

.article>img{
    width: 100%;
}

.Titulo_coche {
    padding-bottom: 26%;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0.5);
    letter-spacing: 20px;
}

.Titulo {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
}

.texto {
    text-align: justify;
    padding: 5%;
    overflow: hidden;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    #article1{
        height: 500px;
    }
    article {
        flex-direction: column;
    }
    .Titulo {
        font-size: 30px;
    }
    .article img{
        box-sizing: border-box;
        width: 100%;
    }
    .texto{
        padding: 1%;
    }
}

@media screen and (max-width: 425px){
    #article1{
        height: 250px;
    }
    .Titulo {
        font-size: 15px;
    }
    #article2{
        height: 400px;
    }
    #article3{
        height: 400px;
    }
}