body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-color: gray;
    color: white;
}

header>nav {
    background-color: black;
    width: 100%;
    height: 100px;
}

ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

ul>* {
    display: flex;
}

li {
    list-style: none;
    align-items: center;
    align-content: center;
}

li>img{
    width: 90px;
    height: 90px;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

li>a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

li>a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: black;
    width: 100%;
    height: 300px;
}

.redes{
    border-left: 2px solid white;
    text-align: center;
}

.redes img{
    width: 30px;
}

.imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.imagenes img:hover{
    width: 10%;
    transition-property: all;
    transition-duration: 1s;
}

.imagenes img:not(:hover){
    width: 30px;
    transition-property: all;
    transition-duration: 1s;
}

#derechos{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width: 768px) {
    ul {
        display: grid;
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
    header>nav {
        background-color: black;
        width: 100%;
        height: 150px;
    }
    footer{
        margin-top: 5%;
    }
    .imagenes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 50px;
    }
    .imagenes img{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 425px){
    li a{
        font-size: small;
    }
    footer p{
        font-size: small;
    }
}