section{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: rgb(202, 192, 192);
}

article{
    width: 80%;
    margin-left: 10%;
}

.targeta{
    background-color: gray;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
}

.targeta img{
    width: 95%;
    border: 2px solid white;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    h2{
        font-size: medium;
    }
    p{
        font-size: small;
    }
    a{
        font-size: small;
    }
}
@media screen and (max-width: 425px){
    h2{
        font-size: small;
    }
    p{
        font-size: smaller;
    }
    a{
        font-size: smaller;
    }
}