@media screen and (max-width: 768px) {
    main{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        height: 78vh;
        padding-bottom: 78%;
    }
}

@media screen and (max-width: 425px){
    main{
        padding-bottom: 103%;
    }
}