@media screen and (max-width: 768px) {
    main{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    main{
        height: 78vh;
    }
}

@media screen and (max-width: 425px){
    main *{
        width: 100%;
    }
    .formulario{
        width: 70%;
    }
    #enviar *{
        width: 100%;
    }
}