section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.targeta{
    background-color: gray;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
}

.targeta img{
    border: 2px solid white;
    border-radius: 5px;
}

.targeta img:hover{
    width: 98%;
    transition-property: all;
    transition-duration: 1s;
}

.targeta img:not(:hover){
    width: 95%;
    transition-property: all;
    transition-duration: 1s;
}